
#wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    -webkit-animation: cardAnimation 7s;
    animation: cardAnimation 7s;
}

#Pregunta1{

  color:black;
}


body {
    font-family:serif;
 background: url("../img/fondoN.jpg");
 color :black;
}


header {
    
    color:black;
    
    
}
#fillSpacesPerson,#fillSpacesCa{
    color:black;
}
#titulo{
  text-align: center;
}

h1 {
    font-size: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}


.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: #000000;
}

.main_menu li {
    display: inline;
}

#Preguntas {
  color:black;
}

#MateriaN{
  color:black;
}

#Finalizar{
  color:black;
}

.formTitles {
    color: #000000;
    text-align: center;
}


#list {
    list-style-type: none;
    overflow: hidden;
}

#list li {
    width: 330px;
    height: 500px;
    float:left;
}
#navigator {
    height: 50px;
    text-align: center;
    background-color:#000000;
}
