
#wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    -webkit-animation: cardAnimation 7s;
    animation: cardAnimation 7s;
}

body {
    font-family:serif;
 background: url("../img/fondo.jpg");
}


header {
    background-color:#2a2a2a;
    color:#000029;
    height: 120px;
    padding: 4px;
    
}
#fillSpacesPerson,#fillSpacesCa{
    color:blue;
}
#titulo{
  text-align: center;
}

h1 {
    font-size: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #000029;
}


.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: #000000;
}

.main_menu li {
    display: inline;
}


#btnPerson, #btnCar {
    padding: 0 10px 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000029;
    padding: 8px;
    font-variant: small-caps;
}

.formTitles {
    color: #000029;
    text-align: center;
}


#list {
    list-style-type: none;
    overflow: hidden;
}

#list li {
    width: 330px;
    height: 500px;
    float:left;
}
#navigator {
    height: 50px;
    text-align: center;
    background-color:#000029;
}
