.navbar{
  	margin-bottom: 0;
  	border-radius: 0;
  	background-color: #f2f2f2;
  	color: #002661;
  	padding: 1% 0;
  	font-size: 1.2em;
  	border: 0;
  }
  .body{
    padding: 0;
    margin:0;
  }
  .navbar-header{
    width: 60%;
  }

  .navbar-brand{
  	float: left;
  	min-height: 55px;
  	padding: 0 5px 5px;
  }
  .navbar-inverse .navbar-header .navbar-brand {
    width: 80%;
  }

  .navbar {
    background-color: #FFF;
  }
  .navbar-inverse .navbar-nav li a , .navbar-inverse .navbar-nav li a:focus , .navbar-inverse .navbar-nav li a:hover {
  	color: #B6B6B6;
  	background-color: #f2f2f2;
  }

  .navbar-inverse .navbar-nav li a{
  	color: #002661;
  }
  .main-text{
    position: absolute;
    color: #FFF;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
  } 

  .btn{
  	font-size: 18px;
  	color:#FFF;
  	padding: 12px 22px;
  	background-color: #ffaf1a;
  	border: 1px solid #5E4485;
  }
  #icon{
  	max-width: 200px;
  	margin: 10% auto 1% auto;	
  }
  #develop{
    padding: 5% 0;
  }
 