


#Preguntas{

  color:black;
}


body {

 background: url("../img/fondoN.jpg");
 color :black;
}

#Preguntas{
align-content: center;

}


#titulo{
  text-align: center;
}

h1 {
    font-size: 10px;
    text-align: center;
    color: black;
    
}

#Preguntas{

  text-align: center;
  color:black;
}


.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: #000000;
}

.main_menu li {
    display: inline;
}



#Finalizar{
  color:black;
}

.formTitles {
    color: #000000;
    text-align: center;
}


#list {
    list-style-type: none;
    overflow: hidden;
}

#list li {
    width: 330px;
    height: 500px;
    float:left;
}
#navigator {
    height: 50px;
    text-align: center;
    background-color:#000000;
}
